# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# MPLab
/StationBoard_Tx/nbproject/private/
/StationBoard_Tx/build/
/StationBoard_Tx/dist/
/StationBoard_Tx/debug/
/StationBoard_Tx/nbproject/Makefile-*
/StationBoard_Rx/nbproject/private/
/StationBoard_Rx/build/
/StationBoard_Rx/dist/
/StationBoard_Rx/debug/
/StationBoard_Rx/nbproject/Makefile-*
Package-default.bash
/StationTester/bin/
